* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  width: 100%;
}

.card {
  border-radius: 0.5rem !important;
  border: none !important;
}

.btn {
  border: none !important;
  border-radius: 0.5rem !important;
}

.add-event-card {
  border-radius: 0.5rem !important;
  border: none !important;
}

.add-event-container {
  background-image: linear-gradient(to right, #434343 0%, #222 100%);
}

.add-event-input {
  border-radius: 0.5rem !important;
}

.add-event-btn {
  width: 30%;
}

.sub-event-btn {
  width: 30%;
}

.clear-btn {
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(to right, #545454 0%, #444 100%);
}

.clear-all-btn {
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(to right, #545454 0%, #444 100%);
}

.logout-btn {
  border: none !important;
  border-radius: 0.5rem !important;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 0.7rem !important;
  }
  h1 {
    font-size: 1.5rem !important;
  }
  .header-text {
    text-align: center;
    margin-bottom: 10px !important;
  }
  .username-text {
    font-size: 1rem;
    text-align: center !important;
    margin-bottom: 10px;
  }
  .add-event-input {
    font-size: 0.8rem;
    margin: 5px 0 5px 0;
  }
  .add-event-btn {
    margin: 5px 0 5px 0;
    height: 80%;
  }
  .balance-card {
    width: 80%;
  }
  .balance-card h1 {
    font-size: 2.2rem;
  }
  .balance-card h3 {
    font-size: 1.3rem;
  }
  .clear-btn {
    font-size: 0.6rem;
    width: 80%;
  }
  .clear-all-btn {
    font-size: 0.7rem !important;
    width: 100%;
  }
  .arrow {
    margin: 2px 0 0 0;
    height: 15px;
    width: auto;
  }
}