* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  background-color: #f8f8f8;
  width: 100%;
}

.card {
  border-radius: 0.5rem !important;
  border: none !important;
}

.btn {
  border: none !important;
  border-radius: 0.5rem !important;
}

.table {
  width: 100%;
}

.header {
  background-color: #5068a9;
  color: #f8f8f8 !important;
}

.header-txt {
  color: #f8f8f8 !important;
}

.toggle-button {
  border: none !important;
  background-image: #f8f8f8 !important;
}

.add-event-card {
  border-radius: 0.5rem !important;
  border: none !important;
  background-color: #86a6df !important;
}

.add-event-container {
  background-image: linear-gradient(to right, #434343 0%, #222 100%);
}

.add-event-input {
  border: none !important;
  border-radius: 0.5rem !important;
}

.add-event-btn {
  color: #2cb978 !important;
  width: 30%;
}

.sub-event-btn {
  color: #ea5455 !important;
  width: 30%;
}

.balance-container {
  background-color: #5068a9 !important;
}

.balance-main-card {
  background-color: #86a6df !important;
  color: #f8f8f8 !important;
}

.clear-btn {
  border: none;
  border-radius: 100px;
  color: #5068a9 !important;
}

.clear-all-btn {
  border: none;
  border-radius: 100px;
  background-color: #5068a9 !important;
}

.arrow {
  height: 0.8rem;
  width: auto;
}

.footer-container {
  background-color: #5068a9;
  color: #f8f8f8 !important;
}

.btn-footer {
  border: none !important;
  border-radius: 0.5rem !important;
  background-color: #86a6df !important;
}

.logout-btn {
  border: none !important;
  border-radius: 0.5rem !important;
  background-color: #86a6df !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 0.7rem !important;
  }
  h1 {
    font-size: 1.5rem !important;
  }
  .header-text {
    text-align: center;
    margin-bottom: 10px !important;
  }
  .username-text {
    font-size: 1rem;
    text-align: center !important;
    margin-bottom: 10px;
  }
  .add-event-input {
    font-size: 0.8rem;
    margin: 5px 0 5px 0;
  }
  .add-event-btn {
    margin: 5px 0 5px 0;
    height: 80%;
  }
  .balance-card {
    width: 80%;
  }
  .balance-card h1 {
    font-size: 2.2rem;
  }
  .balance-card h2 {
    font-size: 1.3rem;
  }
  .clear-btn {
    font-size: 0.7rem !important;
    width: 80%;
  }
  .clear-all-btn {
    font-size: 0.7rem !important;
    width: 100%;
  }
  .arrow {
    height: 0.7rem;
    width: auto;
  }
  .logout-btn {
    font-size: 0.7rem !important;
    width: 30%;
  }
  .btn-footer {
    font-size: 0.7rem !important;
  }
}